<div class='row-fluid'>
  <div class='span8 offset2'>
    <div class='hero-unit'>
      <h1>Go Climb!</h1>
      <p>
        Welcome to our wonderful site. Here you will find everything you ever
        wanted to find... ever.
      <p>
      <p> <a class='btn btn-primary btn-large'>Search</a> </p>
    </div>
  </div>
</div>
