<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">GoClimb</a>
    <ul class="nav">
      <li><a href="#">Climbs</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>
